* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

body {
    background: #EFEFEF;
    width: 100%;
    height: auto;
    padding-bottom: 200px;
}

header img {
    width: 100%;
}

.header {
    width: 100%;
    height: 80px;
    padding: 60px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 999;
}

.logo {
    width: 130px;
    margin-left: 100px;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    padding: 15px;
    color: white;
}

header {
    width: 100%;
    height: 300px;
    margin: 0;
}

.container {
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 200px;
}

.logo-mastercraft {
    position: absolute;
    top: 1%;
    left:50%;
    transform: translate(-50%, -50%)
}

.box {
    background: white;
    width: 700px;
    padding: 40px 30px 20px 30px;
    border-radius: 10px;
    border: 1px solid #E6E5E5;
    text-align: center;
    margin-top: 20px; 
}

.box h2 {
    margin: 10px;
    font-size: 25px;   
}

.box p {
    font-size: 14px;
    color: #8B8989;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.btn {
    border: 0;
    border-radius: 20px;
    height: 50px;
}

.backProjectBtn {
    background: hsl(176, 50%, 47%);
    color: white;
    width: 200px;
    cursor: pointer;
}

.bookmark-img {
    height: 50px;
    margin: 0;
    margin-right:10px;
}

.bookmarkBtn {
    background: #EFEFEF;
    color: #8B8989;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 150px;
    cursor: pointer;
}

.analytics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.analytics span {
    
    padding: 50px;
}

.line {
    border-right: 2px solid #E6E5E5;
}

.progress {
    width: 550px;
    height: 15px;
    border-radius: 15px;
    background-color: hsl(176, 50%, 47%);
}

.about {
    text-align: left;
}

.about p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
}

.inDiv {
    width: 600px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex h1 {
    margin-right: 5px;
}

.inDiv span {
    font-weight: bold;
    color: hsl(176, 50%, 47%);
}

.inDiv p {
    text-align: left;
    font-size: 15px;
    margin-bottom: 20px;
}

.selectBtn {
    background: hsl(176, 50%, 47%);
    color: white;
    width: 150px;
    cursor: pointer;
}

.out {
    color: hsl(0, 0%, 48%);
}

.out span {
    color: hsl(0, 0%, 48%);
}

.outBtn {
    background-color: hsl(0, 0%, 48%);
    color: white;
    width: 150px;
}
