* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

body {
    background: #EFEFEF;
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: 400px;
    background-image: url('../images/image-hero-desktop.jpg');
    margin: 0;
}

.header-wrapper {
    width: 100%;
    height: 80px;
    padding: 60px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 130px;
    margin-left: 100px;
}

.menu-mobile {
    display: none;
}

.menu-mobile img {
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    padding: 15px;
    color: white;
}

.menu-mobile-list {
    background: white;
    width: 300px;
    position: absolute;
    right: 50px;
    top: 80px;
    display: none;
    z-index: 100000;
    border-radius: 5px;
}

.menu-mobile-list li {
    padding: 10px;
    text-align: left;
    color: black;
    font-weight: 700;
    line-height: 50px;
    border-bottom: 1px solid #8B8989;
    list-style: none;
}

li:last-child {
    border-bottom: none;
}

.menu-mobile-list li:hover {
    background: #EFEFEF;
}

.container {
    height: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 200px;
}

.logo-mastercraft {
    position: absolute;
    top: 1%;
    left:50%;
    transform: translate(-50%, -50%)
}

.box {
    background: white;
    width: 100%;
    padding: 40px 30px 20px 30px;
    border-radius: 10px;
    border: 1px solid #E6E5E5;
    text-align: center;
    margin-top: 20px; 
}

.box h2 {
    margin: 10px;
    font-size: 25px;   
}

.box p {
    font-size: 14px;
    color: #8B8989;
    text-align: left;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.btn {
    border: 0;
    border-radius: 20px;
    height: 50px;
}

.backProjectBtn {
    background: hsl(176, 50%, 47%);
    color: white;
    width: 200px;
    cursor: pointer;
}

.backProjectBtn:hover {
    background: hsl(176, 72%, 28%);
}

.bookmark-img {
    height: 50px;
    margin: 0;
    margin-right:10px;
}

.bookmarkBtn {
    background: #EFEFEF;
    color: #8B8989;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 150px;
    cursor: pointer;
}

.bookmarkBtn-mobile {
    display: none;
}

.analytics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.analytics span {
    
    padding: 50px;
}

.line {
    border-right: 2px solid #E6E5E5;
}

.progress {
    width: 550px;
    height: 15px;
    border-radius: 15px;
    background-color: hsl(176, 50%, 47%);
}

.about {
    text-align: left;
}

.about p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
}

.inDiv {
    width: 600px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex2 h1 {
    margin-right: 5px;
}

.pledge {
    font-weight: bold;
    color: hsl(176, 50%, 47%);
}

.inDiv p {
    text-align: left;
    font-size: 15px;
    margin-bottom: 20px;
}

.selectBtn {
    background: hsl(176, 50%, 47%);
    color: white;
    width: 150px;
    cursor: pointer;
}

.selectBtn:hover {
    background: hsl(176, 72%, 28%);
}

.out {
    opacity: .5;
}

.outBtn {
    background-color: hsl(0, 0%, 48%);
    color: white;
    width: 150px;
    cursor: not-allowed;
}

footer {
    height: 100px;
    padding: 30px;
    background: #EFEFEF;
}

footer p {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
}

footer p a {
    text-decoration: none;
    color: #8B8989;
}



.modalBackThisProject {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.content {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 5px;
}

.closeModal {
    margin-left: 98%;
    cursor: pointer;
}

.content p {
    color: #8B8989;
    margin: 25px 0;
}

.flexTitle {
    display: flex;
    justify-content: left;
    align-items: center;
}

.optionTitle {
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px;
}

.optionTitle:hover {
    color: hsl(176, 50%, 47%);
}

#div1, #div2, #div3 {
    display: none;
    border-top: 1px solid #E6E5E5;
    width: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

.continueBtn {
    background: hsl(176, 50%, 47%);
    color: white;
    width: 100px;
    cursor: pointer;
}

.buttons-containerModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.buttons-containerModal div {
    width: 80px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #E6E5E5;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-containerModal input {
    border: 0;
    width: 60px;
    padding: 5px;
}

.modalThanksForYourSupport {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.contentModal2 {
    background-color: #fff;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 40%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.modalContainer h1 {
    font-size:24px;
}

.modalContainer p {
    text-align: center;
    width: 450px;
    color: #8B8989;
    font-size: 16px;
    line-height: 25px;
}

.gotItBtn {
    background: hsl(176, 50%, 47%);
    color: white;
    width: 100px;
    cursor: pointer;
    font-weight: 700;
}

.gotItBtn:hover {
    background: hsl(176, 72%, 28%);
}

@media (max-width: 768px) {
    .contentModal2 {
        width: 70%;
        height: 400px;
        padding: 10px;
        
    }

    .modalContainer {
        height: 350px;
        justify-content: space-between;
    }
    
    .modalContainer h1 {
        font-size: 16px;
    }
}


@media (max-width: 720px) {
    header {
        width: 100%;
        height: 300px;
        background-image: url('../images/image-hero-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    .header {
        padding: 20px;
    }

    .logo {
        margin-left: 0;
    }
    
    .menu {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .container {
        width: 90%;
    }

    .logo-mastercraft {
        top: 0;
    }

    .box {
        width: 100%;
        margin-top: 0; 
        margin-bottom: 20px; 

        padding: 30px 25px 15px 25px;
    }
    
    .box h2 {
        margin: 5px;
        font-size: 22px;   
    }
    
    .box p {
        font-size: 12px;
    }

    .buttons-container {
        margin: 25px;
        justify-content: center;
    }

    .bookmark-img {
        margin: 0;
    }

    .bookmarkBtn {
       display: none;
    }

    .bookmarkBtn-mobile {
        display: block;
       margin-left: 5px;
    }

    .analytics {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .analytics span {
        padding: 10px;
    }

    .line {
        border-right: 0;
        border-bottom: 2px solid #E6E5E5;
    }

    .line h1 {
        font: 10px;
    }

    .line p {
        font-size: 12px;
        margin: 5px;
    }
    
    .progress {
        width: 200px;
        margin: 10px
    }

    .about p {
        margin-top: 15px 0;
        font-size: 14px;
        line-height: 30px;
    }
    
    .inDiv {
        width: 100%;
    }

    .inDiv p {
        margin-bottom: 15px;
    }
    
    .flex {
        align-items: flex-start;
        flex-direction: column;
    }
    
    .flex h3 {
        font-size: 14px;
    }

    .flex span {
        font-size: 14px;
    }

    .flex2 {
        margin-bottom: 15px;
    }

    #div1, #div2, #div3 {
        flex-direction: column;
    }

    .content {
        width: 80%;
    }

    .modalContainer {
        width: 200px;
    }

    .modalContainer p {
        width: 200px;
    }

    


}

@media (max-width: 280px) {
    .logo {
        width: 80px;
    }
}